@import "styles/base.scss";
@import "styles/reset.scss";

body, html {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3 {
  color: #555;
  font-family: "Heebo";
}

h1.accent {
  color: #6100ff;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

b {
  letter-spacing: -1px;
}

.spacer {
  height: 6em;
}

.fullscreenOverlayBackground {
  background-color: #00000073;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.fullscreenOverlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.loadingWheel {
  background-image: url("images/loadingWheel.svg");
  background-repeat: no-repeat;
  background-size: 20% 20%;
  background-position: center center;
  height: 100%;
  z-index: 100;
}
