.activityInstruction {
  float: none;
  width: 100%;
}

.visualAid {
  height: 190px;
  display: inline-block;
  width: 170px;
}

.visualAid img {
  width: 170px;
  height: 140px;
}

.instructionText {
  display: inline-block;
  width: calc(100% - 170px);
  vertical-align: top;
}

@media only screen and (max-height: 600px) {
  .activityInstruction {
    float: left;
    width: 45%;
  }
}
