.cancelActivities {
  padding-left: 10px;
  color: white;
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cancelActivities:hover {
  cursor: pointer;
}

.promoSection {
  margin: 100px 0;
  padding: 10px;
}

.question {
  font-size: 2em;
  margin-left: 10px;
  padding-bottom: 10px;
}

.bolded {
  font-weight: 700;
  display: inline-block;
}
