.pageWrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.textShadow {
  text-shadow: 0 0 70px #00000028;
}

.textShadowDarker {
  text-shadow: 0 0 30px #00000083;
}

.header {
  position: relative;
  height: 500px;
}

.headerBg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.header h1 {
  position: relative;
  color: white;
}

.velocityLogo {
  background-image: url("../images/velocity-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  height: 100px;
}
