.portalWrapper {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}

.mainCard {
  background-color: white;
  min-height: 200px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 0 auto;
}

.mainCard h2 {
  color: #bbb;
  font-weight: 100;
  font-size: 1.7em;
  margin-bottom: 10px;
}

.lightText {
  font-style: italic;
  color: #bbb;
  text-align: center;
  padding: 40px;
}

.tagPreviews {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.projectSection {
  margin: 20px;
}

.actions {
  float: right;
}

.actionBar {
  margin-bottom: 40px;
}

.actionButton {
  background-color: #333;
  border: none;
  text-align: center;
  height: 70%;
  font-size: 1em;
  color: white;
  margin: 0;
  padding: 9px 30px 12px 30px;
  border-radius: 3px;
  font-weight: 600;
  /* border: 1px solid grey; */
  font-weight: 400;
}

.actionButton:hover {
  background-color: #444;
  cursor: pointer;
}

.disabledButton {
  color: rgb(200, 200, 200);
  background-color: rgba(215, 215, 215, 0.8);
  border: none;
}

.disabledButton:hover {
  background-color: rgba(215, 215, 215, 0.8);
  cursor: not-allowed;
}

.greyButton {
  background-color: #dcdcdc;
  color: #333;
}

.greyButton:hover {
  background-color: #efefef;
  cursor: pointer;
}

.tableHeader {
  border-bottom: 1px solid #dedede;
  color: #aaa;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tableLink {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.tableColumn {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
}

.tableRow {
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 0;
  font-size: 1.1em;
}

.tableRow:hover {
  opacity: 0.75;
}

.centeredProgress {
  border-radius: inherit;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    background-color: #00000030;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 12px;
  }
}

.detailsSection {
  color: #444;
  margin: 0;
  font-size: 18px;
}

.detailsSection h5 {
  color: #aaa;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 10px 0;
  font-size: 14px;
}