.multipleActionsContainer {
  text-align: center;
}

.resetButton {
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  font-size: 1em;
  color: #444;
  border: 1px solid grey;
  font-weight: 600;
  border: 1px solid grey;
  width: 120px;
  height: 3em;
  border-radius: 2px;
  margin-bottom: 20px;
  position: relative;
  padding: 8px;
}

.resetButton:hover {
  cursor: pointer;
  background-color: #efefef;
}
