.projectDetails {
  color: #444;
  margin: 0;
}

.projectDetails h5 {
  color: #bebebe;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 0.7em;
}

.projectDetails button {
  margin: 10px;
  padding: 10px 20px;
}

.tab {
  display: inline-block;
  padding: 0 20px;
}

.tab:hover {
  cursor: pointer;
}

.firstTab {
  padding-left: 0;
}

.selectedTab {
  text-decoration: underline;
}