.progressBar {
  position: relative;
  background-color: #f3f3f3;
  border-radius: 12px;
  margin: 0;
  box-sizing: border-box;
}

.progressBarFill {
  height: 100%;
  transition: width 0.2s ease-in;
  width: 0%;
  border-radius: inherit;
}

.progressBarTextOverlay {
  height: 100%;
  width: 100%;
  color: white; 
}

